# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage and caches
coverage
*.lcov
.nyc_output
.grunt
.npm
.eslintcache
.stylelintcache
.node_repl_history
.cache
.parcel-cache

# Dependency directories
node_modules/
jspm_packages/
bower_components
web_modules/

# Build output
dist
dist-ssr
build/Release
.next
out
.nuxt
.vuepress/dist
.temp
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/

# Environment files
.env
.env.*
!.env.example
*.local

# TypeScript cache
*.tsbuildinfo

# Misc package artifacts
*.tgz
.yarn-integrity
.lock-wscript
.tern-port
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite temp files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.vscode-test
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
