:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --bg: #ffffff;
  --fg: #111111;
  --link: #646cff;
  --link-hover: #535bf2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #121212; /* neutral dark, not brown */
    --fg: rgba(255, 255, 255, 0.9);
    --link: #8c92ff;
    --link-hover: #a5aaff;
  }
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  display: block;

  background-color: var(--bg);
  color: var(--fg);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 0;
}


a {
  font-weight: 500;
  color: var(--link);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover);
}
